<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper   
	PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"   
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.njyb.gbdbase.dao.personalcenter.IHomePageDao">
    <resultMap type="com.njyb.gbdbase.model.personalcenter.CountryUpdateTimeModel" id="fieldResult">
			<id property="id" column="id"/>
			<result property="chCountryName" column="ch_name"/>
			<result property="ehCountryName" column="eh_name"/>
			<result property="startTime" column="start_time"/>
			<result property="endTime" column="end_time"/>
	</resultMap>

	<!-- wangB 个个国家的数据时间 -->
	<select id="getCountryUpdateTimeModel" resultMap="fieldResult"> 
		<![CDATA[
			SELECT id,ch_name,eh_name,start_time,end_time
			FROM sys_data_timelimit 
			where 1 = 1 
			ORDER BY start_time ASC
		]]>
	</select>
</mapper>