<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper  PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.njyb.gbdbase.dao.personalcenter.password.IUserPasswordDao">

	<!-- EmailModel -->
	<resultMap type="com.njyb.gbdbase.model.personalcenter.password.EmailModel"
		id="emailModel">
		<id property="emailId" column="EMAILID" />
		<result property="sId" column="SID" />
		<result property="sendTime" column="SENDTIME" />
		<result property="emailCount" column="EMAILCOUNT" />
		<result property="userId" column="USERID" />
	</resultMap>

	<!--WangBo:根据userId查询邮件表中的数据 -->
	<select id="queryEmailModelByUserId" resultMap="emailModel">
			SELECT usee.sId,usee.sendTime,usee.emailCount,usee.userId
				FROM user_send_email usee
				WHERE usee.userId = #{0}
				order by usee.sendTime desc LIMIT 0,1
	</select>
	
	<!--WangBo:根据userId查询邮件表中的数据 -->
	<select id="queryEmailByParam" resultMap="emailModel" parameterType="java.util.Map">
		SELECT
			sendTime,emailId,sendTime,emailCount,userId
		FROM user_send_email
		WHERE sid = #{sId}
	</select>

	<!--WangBo:根据emailModel的id更改发送时间和发送次数 -->
	<update id="updateEmailModelByEmailId"
		parameterType="com.njyb.gbdbase.model.personalcenter.password.EmailModel">
		UPDATE user_send_email
		SET emailCount = #{emailCount}
		WHERE emailId = #{emailId};
	</update>

	<!-- WangBo:用于用户插入到邮件表中 -->
	<insert id="addEmailModelByModel"
		parameterType="com.njyb.gbdbase.model.personalcenter.password.EmailModel">
		INSERT INTO
		user_send_email(EMAILID,SID,SENDTIME,EMAILCOUNT,USERID)
		VALUES
		(NULL,#{sId},#{sendTime},#{emailCount},#{userId});
	</insert>
    <!-- 根据sid删除发送的邮件 -->
    <!-- chenhu:删除用户的全部信息 -->
   <delete id="deleteEmailBySid"   parameterType="java.lang.String" >  
         delete  from user_send_email where sid=#{sid}
     </delete> 
</mapper>