<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper  PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!-- 产品标签 -->
<mapper
	namespace="com.njyb.gbdbase.dao.alldb.projectanalyze.IProjectAnalyzeDao">

	<!-- WangBo 添加 -->
	<insert id="addProjectAnalyze"
		parameterType="com.njyb.gbdbase.model.alldb.projectAnalyze.ProjectAnalyzeModel">
		<![CDATA[	
				INSERT INTO HELP_PRODUCT_COLLECTION(USERID,PRODUCTNAME,HSCODE,VERIFYCODE,ADDTIME) VALUES(#{userId},#{productName},#{hscode},#{verifycode},#{addTime})
		]]>
	</insert>

	<!-- WangBo : 查询产品标签 -->
	<select id="queryProjectAnalyzeModelByParam" parameterType="java.util.Map"
		resultType="com.njyb.gbdbase.model.alldb.projectAnalyze.ProjectAnalyzeModel">
		SELECT p.productid,p.userid,p.productname,p.hscode,p.billnumber,p.verifycode,p.addTime,p.isOperate
		FROM
			(SELECT hpc.productid,hpc.userid,hpc.productname,hpc.hscode,hpc.billnumber,hpc.verifycode,hpc.addTime,0 as isOperate
			FROM HELP_PRODUCT_COLLECTION hpc
			LEFT JOIN sys_user su on su.userid = hpc.userid
			WHERE hpc.userid = #{userId}
			UNION ALL
			SELECT utp.productid,utp.userid,utp.productname,utp.hscode,utp.billnumber,utp.verifycode,utp.addTime,utp.isOperate
			FROM user_trial_product_t utp,sys_user su 
			WHERE su.userdesc = '试用用户' and su.userid = #{userId}) p
		WHERE 1=1 
		<if test="hscode != null and hscode != ''">
			and p.hscode LIKE CONCAT('%','${hscode}','%')
		</if>
		ORDER BY p.ADDTIME DESC
	</select>

	<!-- WangBo:根据产品id删除相关产品 -->
	<delete id="deleteProjectAnalyze" parameterType="java.util.Map" statementType="CALLABLE">
		 {CALL del_product_collection_pro (#{idList,mode=IN,jdbcType=VARCHAR},#{flag,mode=OUT,jdbcType=INTEGER})}
	</delete>

	<!-- WangBo : 修改产品标签 -->
	<update id="updateProjectAnalyze"
		parameterType="com.njyb.gbdbase.model.alldb.projectAnalyze.ProjectAnalyzeModel">
		<![CDATA[
			UPDATE help_product_collection
				SET productname = #{productName},
				hscode = #{hscode},
				verifycode = #{verifycode}
				WHERE productid = #{productId}
		]]>
	</update>
</mapper>