#info{
	position: absolute;
	top: 10%;
	right: 1%;
	z-index: 1100;
	color:#383f48;
}
#info a:link{
	text-decoration:none;
	color:#CCC;
}
#info #language{
	position:relative;
	display:none;
}
#info #language #img{
	position: absolute;
	top: 0px;
	right: 0;
	height: 15px;
}
#info #language #wenzi{
	position:absolute;
	top:10px;
	right:0;
}
#info #language p{
	width:102px;
	height:28px;
	background-color:#434a53;
	margin:auto;
	padding-left:10px;
	font-family: "宋体",Heiti, arial,helvetica,sans-serif !important;
	font-size:14px;
	color:#FFF;
} 
#info #language p a{
	text-decoration:none;
}
.body_style{
	font-family: "宋体",Heiti, arial,helvetica,sans-serif !important;
}
.btn_css{
	font-size: 16px;
	color: #434A52;
	padding-left: 20px
}
a.print_cls{
    color: #000;
    text-decoration: none;
    font-size: 12px;
    width:70px;
    height:25px;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    font-family: "宋体",Heiti, arial,helvetica,sans-serif !important;
    background:url("/gbdbas/static/img/datasearch/viewdetail/print.png") no-repeat center;
}
a.print_cls:link,.print_cls:visited{
	color: #000;
    text-decoration: none;
}
a.print_cls:hover{
	cursor:pointer;
	background:url("/gbdbas/static/img/datasearch/viewdetail/printHover.png") no-repeat center;
}

a.russion_print_cls{
    color: #000;
    text-decoration: none;
    font-size: 12px;
    width:110px;
    height:25px;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    font-family: "宋体",Heiti, arial,helvetica,sans-serif !important;
    background:url("/gbdbas/static/img/datasearch/viewdetail/print_big.png") no-repeat center;
}

a.russion_print_cls:hover{
	cursor:pointer;
	background:url("/gbdbas/static/img/datasearch/viewdetail/printHover_big.png") no-repeat center;
}