<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njyb.gbdbase.dao.datasearch.country.ISalvatoreImportDao">

	<!--实体映射-->
	<resultMap id="salvatoreImportResultMap" type="com.njyb.gbdbase.model.datasearch.salvatore.SalvatoreImportModel">
		<!--主键编号-->
		<id property="salvatoreImportId" column="SALVATORE_IMPORT_ID" />
		<!--抵达时间-->
		<result property="date" column="DATE" />
		<!--进口商-->
		<result property="importer" column="IMPORTER" />
		<!--进口商地址-->
		<result property="importerAddr" column="IMPORTER_ADDR" />
		<!--出口商-->
		<result property="exporter" column="EXPORTER" />
		<!--出口商地址-->
		<result property="exporterAddr" column="EXPORTER_ADDR" />
		<!--通知方-->
		<result property="notifier" column="NOTIFIER" />
		<!--通知人地址-->
		<result property="notifierAddr" column="NOTIFIER_ADDR" />
		<!--提单号-->
		<result property="blNumber" column="BL_NUMBER" />
		<!--船次-->
		<result property="voyageNumber" column="VOYAGE_NUMBER" />
		<!--承运人-->
		<result property="carrier" column="CARRIER" />
		<!--起运港-->
		<result property="startPort" column="START_PORT" />
		<!--抵达港-->
		<result property="endPort" column="END_PORT" />
		<!--原产国-->
		<result property="originCountry" column="ORIGIN_COUNTRY" />
		<!--目的国-->
		<result property="destCountry" column="DEST_COUNTRY" />
		<!--船名-->
		<result property="vesselName" column="VESSEL_NAME" />
		<!--轮船所在国-->
		<result property="vesselCountry" column="VESSEL_COUNTRY" />
		<!--国际海事组织代码-->
		<result property="imoCode" column="IMO_CODE" />
		<!--数量-->
		<result property="quantity" column="QUANTITY" />
		<!---->
		<result property="goodsDesc" column="GOODS_DESC" />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		SALVATORE_IMPORT_ID,
	DATE,	IMPORTER,	IMPORTER_ADDR,	EXPORTER,	EXPORTER_ADDR,	NOTIFIER,	NOTIFIER_ADDR,	BL_NUMBER,
	VOYAGE_NUMBER,	CARRIER,	START_PORT,	END_PORT,	ORIGIN_COUNTRY,	DEST_COUNTRY,	VESSEL_NAME,	VESSEL_COUNTRY,
	IMO_CODE,	QUANTITY,	GOODS_DESC
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="queryByPrimaryAll" resultMap="salvatoreImportResultMap" parameterType="java.lang.Integer">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM data_salvatore_import
		 WHERE SALVATORE_IMPORT_ID in ${sql}
	</select>


</mapper>